html {
    position: relative;
    min-height: 100%;
}

body {
    background: #FBFBE9;
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 30px;
    height: 100px;
    background: #000;
    color: #fff;
}

nav {
    background: rgba(0,0,0,.7) !important;
    height: 50px !important;
    padding: 5px !important;
}

header span {
    color: #fcf8e3;
    text-transform: uppercase;
    font-size: 1.3em;
}

footer {
    color: #fcf8e3;
    background: #222222;
    padding: 20px;
    text-align: center;
}

#content {
    background: #332DEB;
    margin: 70px 50px;
    padding: 50px 100px;
    box-shadow: 5px 5px 20px rgba(0,0,0,.7), -5px -5px 20px rgba(0,0,0,.7);
}

    #content input {
        margin: 5px;
    }

    #content h3 {
        color: #222222;
        border-bottom: 1px solid #3c3c3c;
    }

.navbar-nav li a {
    color: #fcf8e3 !important;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #222222 !important;
}

.delete-button {
    background: rgba(0,0,0,0);
    width: 30px;
    height: 30px;
    padding: 2px;
    font-weight: bold;
    border: 2px solid #f00;
    border-radius: 50%;
    color: #f00;
    float: right;
}

ul.dropdown-menu {
    background: #222222 !important;
}

ul.dropdown-menu a:hover {
    background: #222222 !important;
}

.form-control {
    display: inline-block !important;
    width: 90% !important;
}

.form-group option {
    height: 30px;
    min-width: 200px;
}

.warn-message {
    color: #f00;
    text-shadow: 1px 0 1px #f00;
    margin-left:10px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}